body {
  background: linear-gradient(45deg, rgba(160, 80, 120, 1), rgba(160, 80, 120, .7) 25%, rgba(190, 130, 60, .8) 50%, rgba(220,170,0, .9) 75%, rgba(250, 160, 80, 1));
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-weight: 700;
}

.container {
  text-align: center;
}

.header-content {
  margin-top: 15%;
  justify-content: center;
  height: 80vh;
}

#about-me-nav {
  animation: about-me-nav 5s;
}
#contact-nav {
  animation: contact-nav 5s;
}
#portfolio-nav {
  animation: portfolio-nav 3.5s;
}

@keyframes about-me-nav {
  0% {
    position: relative;
    left: -250px;
  }
  50% { left: 35px; }
}
@keyframes contact-nav {
  0% {
    position: relative;
    right: -250px;
  }
  50% { right: 35px; }
}
@keyframes portfolio-nav {
  0% {
    position: relative;
    top: -550px;
    border: none;
  }

  51% {
    border: none;
    position: relative;
  }
  55% {
    border: none;
    position: relative;
    top: 0;
  }
  56% {
    border-left: 2px solid rgba(255, 255, 255, .15);
    border-right: 2px solid rgba(255, 255, 255, .15);
  }
  70% {
    border-left: 2px solid rgba(255, 255, 255, .35);
    border-right: 2px solid rgba(255, 255, 255, .35);
  }
  83% {
    border-left: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .5);
  }

  90% {
    border-left: 2px solid rgba(255, 255, 255, .75);
    border-right: 2px solid rgba(255, 255, 255, .75);
  }

  99% {
    border-left: 2px solid rgba(255, 255, 255, 1);
    border-right: 2px solid rgba(255, 255, 255, 1);
  }
}

#arrow-position a {
  padding-top: 60px;
}
#arrow-position a span {
  position: absolute;
  bottom: 20%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  transform: rotate(-45deg);
  animation: scroll-arrow 2s infinite;
  box-sizing: border-box;
}
@keyframes scroll-arrow {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

h1.title.is-1 {
  font-size: 6rem;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 0;
}

h2.title.is-2 {
  margin-bottom: 0;
}


h3.title.is-3 {
  &:not(:first-child) {
    margin-top: 2rem;
  }
}

.subtitle {
  font-weight: 700;
  color: white;
  a {
    color: white;
  }
}

.content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: rgb(255,255,255);
  content: '';
  width: 2px;
  height: 6rem;
}

ul {
  border: none;
  margin-top: 0;
  animation: bottomright 2.5s linear 1s forwards;
}

@keyframes bottomright {
  0% {
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
  }
  25% {
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
  }
  50% {
    border: 2px solid rgba(255, 255, 255, .25);
    border-radius: 5px;
  }
  75% {
    border: 2px solid rgba(255, 255, 255, .75);
    border-radius: 5px;
  }
  100% {
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
  }
}

li {
  display: inline;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem;
  &:not(:first-child):not(:last-child) {
    border-left: 2px solid white;
    border-right: 2px solid white;
  }
}

.text {
  border-top: 2px solid white;
  border-bottom: 2px solid white;

  p {
    font-size: 1.1rem;
    margin: 2rem;
    &:first-child {
      padding-top: 1rem;
    }
    &:last-child {
      padding-bottom: 1rem;
    }
  }
}

.portfolio {
  border-bottom: 2px solid white;
  padding: 1rem;
}


.parallax {
    background-image: url("https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&cs=tinysrgb&h=350");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
