body, .footer {
  animation: heroAnimation 1000s ease-in infinite;
  background: linear-gradient(to right, #14b450, #2878b4, #5a28be, #9650a0, #dc3c3c);
  background-size: 350% 350%;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-weight: 700; }

@keyframes heroAnimation {
  0% {
    background-position: 1% 0%; }
  50% {
    background-position: 99% 100%; }
  100% {
    background-position: 1% 0%; } }
.hidden-nav {
  animation: heroAnimation 1000s ease-in infinite;
  background: linear-gradient(to right, rgba(20, 180, 80, 0), rgba(40, 120, 140, 0), rgba(60, 40, 190, 0), rgba(150, 80, 160, 0), rgba(220, 80, 100, 0));
  background-size: 350% 350%; }
  .hidden-nav .navbar-item {
    opacity: 0; }

.navbar {
  animation: heroAnimation 1000s ease-in infinite;
  background: linear-gradient(to right, #14b450, #2878b4, #5a28be, #9650a0, #dc3c3c);
  background-size: 350% 350%;
  z-index: 1; }
  .navbar .navbar-item {
    color: white;
    font-style: italic; }

.section {
  height: 100vh; }

#menu-about-me {
  height: 60px; }

#menu-portfolio {
  height: 80px; }

#menu-contact {
  height: 10px; }

#internal-about-me {
  margin-top: .75rem; }

#internal-portfolio {
  margin-top: .75rem; }

#menu-contact {
  height: 10px; }

.container {
  text-align: center; }

.header-content {
  margin: 15% auto;
  justify-content: center; }

#about-me-nav {
  animation: about-me-nav 5s; }

#contact-nav {
  animation: contact-nav 5s; }

#portfolio-nav {
  animation: portfolio-nav 3.5s; }

@keyframes about-me-nav {
  0% {
    position: relative;
    left: -250px; }
  50% {
    left: 35px; } }
@keyframes contact-nav {
  0% {
    position: relative;
    right: -250px; }
  50% {
    right: 35px; } }
@keyframes portfolio-nav {
  0% {
    position: relative;
    top: -550px;
    border: none; }
  51% {
    border: none;
    position: relative; }
  55% {
    border: none;
    position: relative;
    top: 0; }
  56% {
    border-left: 2px solid rgba(255, 255, 255, 0.15);
    border-right: 2px solid rgba(255, 255, 255, 0.15); }
  70% {
    border-left: 2px solid rgba(255, 255, 255, 0.35);
    border-right: 2px solid rgba(255, 255, 255, 0.35); }
  83% {
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5); }
  90% {
    border-left: 2px solid rgba(255, 255, 255, 0.75);
    border-right: 2px solid rgba(255, 255, 255, 0.75); }
  99% {
    border-left: 2px solid white;
    border-right: 2px solid white; } }
#arrow-to-about a {
  padding-top: 60px; }

#arrow-to-about a span {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  transform: rotate(-45deg);
  animation: scroll-arrow 2s infinite;
  box-sizing: border-box; }

#arrow-to-portfolio a span {
  position: absolute;
  bottom: -5%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  transform: rotate(-45deg);
  animation: scroll-arrow 2s infinite;
  box-sizing: border-box; }

@keyframes scroll-arrow {
  0% {
    transform: rotate(-45deg) translate(0, 0); }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px); }
  40% {
    transform: rotate(-45deg) translate(0, 0); } }
.title {
  font-family: 'Josefin Sans', sans-serif;
  color: white; }

h1.title.is-1 {
  font-size: 6rem;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 0; }

h2.title.is-2 {
  margin-bottom: 0; }
  h2.title.is-2 .header-description {
    height: 3rem; }

h3.title.is-3:not(:first-child) {
  margin-top: 2rem; }

h4.subtitle.is-4 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 2.5rem 0 2.5rem;
  font-weight: 700;
  text-align: right;
  color: white; }
  h4.subtitle.is-4 a {
    color: white; }

.project-details {
  margin-bottom: 1rem; }

ul#intro {
  border: none;
  margin-top: 3rem;
  animation: bottomright 2.5s linear 1s forwards; }

.tabs ul.tabs {
  border-bottom: 2px solid white; }
  .tabs ul.tabs li a {
    color: white; }
    .tabs ul.tabs li a:hover {
      color: black; }
  .tabs ul.tabs li a.selected {
    color: black; }

.dropdown {
  display: none; }

@keyframes bottomright {
  0% {
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 5px; }
  25% {
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 5px; }
  50% {
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px; }
  75% {
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 5px; }
  100% {
    border: 2px solid white;
    border-radius: 5px; } }
.intro-li {
  display: inline;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem; }
  .intro-li:not(:first-child):not(:last-child) {
    border-left: 2px solid white;
    border-right: 2px solid white; }
  .intro-li a {
    color: white; }

.text {
  border-bottom: 2px solid white;
  height: 70vh;
  overflow: scroll; }
  .text p {
    text-align: left;
    font-size: 1.1rem;
    margin-bottom: 2rem; }
    .text p .drop-character {
      float: left;
      font-size: 75px;
      line-height: 60px;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px; }
    .text p .drop-word {
      float: left;
      font-size: 45px;
      line-height: 60px;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px; }
    .text p:last-child {
      padding-bottom: 1rem; }
    .text p a {
      color: white;
      text-decoration: underline; }

.contact-details p {
  text-align: left; }
  .contact-details p a {
    color: white;
    text-decoration: underline; }

img.inline {
  border: 2px solid white;
  height: 220px;
  width: 350px; }

.is-rounded {
  border: 2px solid white;
  height: 400px;
  width: 400px; }

.portfolio-gif {
  border: 2px solid white;
  height: 400px;
  width: 780px;
  margin-bottom: 2rem; }

.skills {
  background-image: url("../assets/images/skills.png");
  background-size: cover;
  height: 600px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h1.title.is-1 {
    font-size: 4rem;
    margin-bottom: 1rem; }

  h4.subtitle.is-4 {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    text-decoration: underline; }

  .header-content {
    margin: 30% auto; }

  .intro-li a {
    font-size: .95rem; }

  .navbar-menu {
    background-color: white;
    text-align: right; }
    .navbar-menu .navbar-item {
      color: black; }

  .navbar-burger {
    color: white; }
    .navbar-burger span {
      color: white; }

  .desktop-display {
    display: none; }

  .dropdown {
    display: inline-block;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    border-bottom: 2px solid white;
    padding-bottom: 1rem; }
    .dropdown .dropdown-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .dropdown .dropdown-content .dropdown-item {
        width: 100%; }
    .dropdown .button {
      background: rgba(255, 255, 255, 0);
      color: white;
      font-family: 'Josefin Sans', sans-serif;
      text-transform: uppercase;
      font-weight: 700; }

  .section .container .text {
    height: 65vh; }

  img.portfolio-gif {
    height: 220px; }

  .skills {
    background-image: url("../assets/images/mobile-skills.png"); } }

/*# sourceMappingURL=main.css.map */
